<?php
$mysqlHost     = "localhost";
$mysqlUser     = "";
$mysqlPassword = "";
$mysqlDatabase = "";
$mysqlTable    = "readinglist";

// Public location of script
$linkToSelf    = "http://urltoyourserver.com/readinglist/";
?>
